# Visual Studio
.vs/
*.user
*.suo
**/MigrationBackup/

# Build output
**/bin/
**/obj/

# NuGet (if you ever have packages/ from old-style restore)
**/packages/

# Publish output (optional)
**/Published/
**/publish/
